{% extends 'layout.html.twig' %}
{% block title %}Homepage{% endblock %}

{% block body %}
	<div class="container app-container-main">
		<p>Logio - test úkol</p>
		{% for product in products %}
			<div>
				<a href="{{ path('productDetail', {id: product.id}) }}">
					{{ product.name }}
				</a> <i>(zobrazeno: {% if product.id in productViewCounts|keys %}{{ productViewCounts[product.id] }}{% else %}0{% endif %})</i>
			</div>
		{% endfor %}
	</div>
{% endblock %}